.home{

    align-items: center;
    flex-direction: column;
    .cards{
        display: grid;
        grid-template-columns: auto auto auto auto;

        .card{
            width: 300px;
            height: 300px;
            border: 1px solid rgb(13, 70, 185);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .buttons{
                display: flex;
                gap: 8px;
                .delete{
                    border: none;
                    background-color: rgb(161, 13, 13);
                    color: white;
                    font-weight: bolder;
                    padding: 10px;
                    cursor: pointer;

                }
                .update{
                    border: none;
                    background-color: blue;
                    color: white;
                    cursor: pointer;
                    padding: 10px;


                }
            }
         }
    }
}